.hidden{
    display: none;
}

.row{
    margin: 0;
}

.legend-text{
    text-align: center;
    margin: 40px 0;
}

.login-container .input-group-text, input, button {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2) !important;
}

.login-container button{
    border-radius: 0 !important;
}

.input-user, .input-pass{
    padding: 1.375rem 0.75rem;
}

.input-user, .input-pass:focus {
    outline: 0px !important;
}

.pet-brand{
    margin: 31% 0;
    position: relative;
    left: 100px;
}

.fas.fa-paw{
    font-size: 34px;
}

.login-container .fas.fa-paw{
    color:#f86d08;
}

.doggo-pic{
    position:relative; left:180px;
    width: 60%;
}

.register{
    background-color: rgba(255,255,255,.8);
}

@media screen and (max-width:1024px){
    .login-container{
        padding: 2rem !important;
    }
}
